[submodule "evcnn"]
	path = libs/evcnn
	url = https://github.com/igorcoding/libevconnection.git
[submodule "msgpuck"]
	path = libs/msgpuck
	url = https://github.com/tarantool/msgpuck.git
[submodule "provision/tarantool-version"]
	path = provision/tarantool-version
	url = https://github.com/igorcoding/tarantool-version.git
